@import '../../styles/variables/index';

.collection {
  margin-bottom: 105px;

  &__title-wrapper {
    margin-bottom: 57px;
  }

  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 15px;
    border: 1px solid $grey_08;
  }

}
