* {
  box-sizing: border-box;
}

html {
  color: $color_primary;
  font-family: $Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: $color_bg_primary;
}

img {
  display: block;
  max-width: 100%;
}

.content {
  width: 1320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (max-width: 1320px) {
    width: 100%;
  }

}
