// Background
$color_bg_primary: #ffffff;
$color_bg_topBar: #f2f2f2;
$color_bg_footer: #141414;

// Functional
$color_primary: #000000;
$color_secondary: #ffffff;
$color_decor: #d9bf8f;
$color_sale: #feab12;

// Sandybrown scale
$sandybrown_35: #f0975c;
$sandybrown_33: #f09d66;

// Grayscale
$grey_92: #141414;
$grey_81: #323030;
$grey_79: #363636;
$grey_78: #393939;
$grey_58: #6a6a6a;
$grey_56: #707070;
$grey_55: #737373;
$grey_50: #847e7a;
$grey_30: #b3b3b3;
