@import '../../styles/variables/index';

.brands-title-wrapper {
  margin-bottom: 115px;
}

.brands {
  padding-bottom: 143px;

  &__band {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;

    &-img-wrapper {
      margin: 0 auto;
    }

    img {
      width: auto;
      margin: 15px;
    }

  }

}
